<div class="top-row pl-4 navbar navbar-dark">
    <div class="logo">
        <img class="hover-pointer" height="35" src="/images/fullLogo.png" />
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
       <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 过车数据
            </NavLink>
            <NavLink class="nav-link" href="/TrackScaleData" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 重车数据
            </NavLink> 
            @*<NavLink class="nav-link" href="/print-table" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 测试
            </NavLink> *@
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
